.idea*
*_*.txt
glove*
text_simplification.ipynb
sari.egg-info
data*
setup.py
crawler.py
venv*
transformer*
*coder*
credentials.json
*.p
sari/__pycache__/SARI.cpython-37.pyc
*.pyc
crawler*
*.npy
*.sav
Dockerfile
*_1*