<!doctype html>
<html lang="en">
  <head>
    <!-- Required metadata tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Translate and analyze text with Azure Cognitive Services.">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Simplification</title>
  </head>
  <body>
    <div class="container">
      <h1>Simplify</h1>
      <p>This is a Text Simplification project. You can input a sentence to simplify, model will suggest you a
        simplification. You can modify it, if its quality isn't the best, and save it for future research. Thank you!</p>
<div class="row">
  <div class="col">
    <form>
      <!-- Enter text to translate. -->
      <div class="form-group">
        <label for="text-to-translate"><strong>Enter the text you'd like to translate:</strong></label>
        <textarea class="form-control" id="text-to-translate" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-2" id="translate">Translate text</button></br>
    </form>
    <form>
      <div class="form-group" id="translator-text-response">
        <label for="translation-result"><strong>Translated text:</strong></label>
        <textarea class="form-control" id="translation-result" rows="8"></textarea>

          <div class="form-check">
           <input class="form-check-input" type="radio" name="radios" id="radios1" value="1" checked>
        <label class="form-check-label" for="radios1">
          Simplification is good
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radios" id="radios2" value="0">
        <label class="form-check-label" for="radios2">
          Simplification need a little work
        </label>
      </div>
     <button type="submit" class="btn btn-primary mb-2" id="save">Save data</button></br>
      </div>
    </form>
</div>
</div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">

    </script>
    <script type = "text/javascript" src="static/scripts/save.js">
      </script>
    <script type = "text/javascript" src="static/scripts/translate.js">
      </script>
  </body>
</html>
